
#code_snippet {

    background-color: #e7e7e7;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 20px;
}

#load_date {
    color: #097118;
}
